
<app-navbar></app-navbar>

<div class="container" class="d-flex justify-content-center text-center">

	<form class="was-validated p-5 bg-light m-5" method="post" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <i style="color:royalblue" class="fas fa-user-ninja fa-4x"></i>
		<div class="form-group">
			<label for="email" >Email:</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fas fa-envelope" style="color: red;"></i>
					</span>
				</div>
				<input type="email" class="form-control" id="email" placeholder="Enter Email" name="ingresoEmail" formControlName="email" required>
			</div>
			<br>

		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fas fa-lock" style="color:red"></i>
					</span>
				</div>
				<input type="password" class="form-control" id="password" placeholder="Enter password" name="ingresoPwd" formControlName="password" required>
			</div>
			<br>

		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-outline-danger btn-login"><i class="fas fa-paper-plane" style="color: rgb(99, 60, 206);"></i><span style="color:black"> log in</span></button>
		</div>

		<div class="form-group">
			<button (click)="onGoogleLogin()"class="btn btn-outline-danger btn-google"><i class="fab fa-google"></i> <span style="color:black"> Log in Google</span></button>
		</div>
		<div class="form-group">
			<button (click)="onFbLogin()" class="btn btn-block btn-outline-primary btn-facebook"><i class="fab fa-facebook-square"></i> <span style="color: black;"> Log in Facebook</span> </button>
		</div>
	</form>


</div>
