

<div class="sidebar bg-danger" >
  <a class="nav-link active" [routerLink]="['/home']" ><i class="fas fa-home"></i>   Home</a>
  <a class="nav-link" [routerLink]="['/history']" ><i class="fas fa-newspaper"></i>  History</a>
  <a class="nav-link" [routerLink]="['/profil']" ><i class="fas fa-user"></i> Profile</a>
  <a class="nav-link" [routerLink]="['/video']"><i class="fas fa-video"></i> Video</a>


  <a (click)=salir() class="nav-link" [routerLink]="['/salir']"><i class="fas fa-sign-out-alt"></i> Salir</a>

</div>

<div style="margin-left:16%">
  Yeison Alexander Rey Sepulveda
  <div >
    <h1>DashBoard</h1>
  </div>

  <div >
  <h2>primer dashboard</h2>

  </div>
  </div>


