

.container {
  position: block;
  top: 0;
  bottom: 0;
  float: left;
  left: -15px;
  background: white;
  height: 100%;
  width: 100%;



}



mat-sidenav{

  max-width: 100%;
  background: rgb(255, 98, 92);
  text-align: center;
  position: relative;
  display: block;
  float: left;
  height: 100%;
  width: 200px;

}

mat-sidenav-content{
  text-align: center;

}




mat-sidenav a{
  margin-bottom: 2em;
  color: black;
}
i{
  color:white;
}

.conti{
  text-align: center;
  float: left;
  position: block;
}







@media only screen and (max-width:650px)
{

  .container{
    position: relative;
    float: left;
    width: auto;
    height: 100%;
    text-align: center;
    }
    .cont{
      left: -25%;
    }







}

